<%# Uses rails_bootstrap_form gem. API at: https://github.com/bootstrap-ruby/rails-bootstrap-forms %>
<%= bootstrap_form_for(container) do |f| %>
  <%= f.alert_message "Please fix the errors below." %>

  <%= f.text_field :name %>
  <%= f.text_field :temperature %>

  <%= f.fields_for :wall do |wall| %>
    <%= wall.hidden_field :file, value: wall.object.cached_file_data %>
    <%= wall.file_field :file %>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Inlets</strong>
    </div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>File</th>
          <th>v<sub>x</sub> (m/s)</th>
          <th>v<sub>y</sub> (m/s)</th>
          <th>v<sub>z</sub> (m/s)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= f.nested_fields_for :inlets, wrapper_tag: :tr do |inlet| %>
          <td>
            <%= inlet.hidden_field :file, value: inlet.object.cached_file_data %>
            <%= inlet.file_field :file, hide_label: true, class: 'input-sm' %>
          </td><td>
            <%= inlet.number_field :vx, hide_label: true, class: 'input-sm', append: 'm/s', required: true, step: 'any' %>
          </td><td>
            <%= inlet.number_field :vy, hide_label: true, class: 'input-sm', append: 'm/s', required: true, step: 'any' %>
          </td><td>
            <%= inlet.number_field :vz, hide_label: true, class: 'input-sm', append: 'm/s', required: true, step: 'any' %>
          </td><td>
            <%= inlet.remove_nested_fields_link '<span aria-hidden="true">&times;</span>'.html_safe, class: 'close', :'aria-label' => "Close", role: 'button' %>
          </td>
        <% end %>
      </tbody>
    </table>
    <div class="panel-footer">
      <%= f.add_nested_fields_link :inlets, 'Add Inlet', class: 'btn btn-primary btn-xs' %>
    </div>
  </div><!-- /panel -->

  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= f.button 'Reset', type: :reset, class: 'btn btn-default' %>

  <hr>

  <%= link_to 'Back', containers_path, class: 'btn btn-default' %>
  <%= link_to 'Show', container, class: 'btn btn-primary' unless container.new_record? %>
<% end %>
