<%= bootstrap_form_for(@container) do |f| %>

  <%= f.alert_message "Please fix the errors below." %>

  <%= f.text_field :name, placeholder: "New Simulation" %>

  <%= f.file_field :inlet %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.number_field :inlet_vx, append: 'm/s', step: 'any' %>
    </div>
    <div class="col-sm-4">
      <%= f.number_field :inlet_vy, append: 'm/s', step: 'any' %>
    </div>
    <div class="col-sm-4">
      <%= f.number_field :inlet_vz, append: 'm/s', step: 'any' %>
    </div>
  </div>

  <%= f.file_field :outlet %>
  <%= f.number_field :outlet_pressure, append: 'Pa', min: 0.0, step: 'any' %>

  <%= f.file_field :walls %>

  <%= f.select :measurement_scale, Container::MEASUREMENT_SCALES.to_a %>

  <%= f.text_field :fluid_type, list: 'fluid_list' %>
  <datalist id="fluid_list">
  </datalist>
  <div class="row">
    <div class="col-sm-6">
      <%= f.number_field :kinematic_viscosity, append: 'm&sup2;/s'.html_safe, min: 0.0, step: 'any' %>
    </div>
    <div class="col-sm-6">
      <%= f.number_field :density, append: 'kg/m&sup3;'.html_safe, min: 0.0, step: 'any' %>
    </div>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= button_tag 'Reset', type: :reset, class: 'btn btn-default' %>
<% end %>
