<h1>Listing containers</h1>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Status</th>
      <th>Name</th>
      <th>Measurement Scale</th>
      <th>Fluid type</th>
      <th>Kinematic viscosity</th>
      <th>Density</th>
      <th>Outlet pressure</th>
      <th>Inlet vx</th>
      <th>Inlet vy</th>
      <th>Inlet vz</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= container.id %></td>
        <td><%= job_status_label(container) %></td>
        <td><%= container.name %></td>
        <td><%= container.measurement_scale_name %></td>
        <td><%= container.fluid_type %></td>
        <td><%= container.kinematic_viscosity %></td>
        <td><%= container.density %></td>
        <td><%= container.outlet_pressure %></td>
        <td><%= container.inlet_vx %></td>
        <td><%= container.inlet_vy %></td>
        <td><%= container.inlet_vz %></td>

        <td><%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, container, class: 'btn btn-primary btn-sm', role: 'button', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'View Container' %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_container_path(container), class: 'btn btn-default btn-sm', role: 'button', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Edit Container' %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-play"></span>'.html_safe, submit_container_path(container), method: :put, class: 'btn btn-success btn-sm', role: 'button' unless container.submitted? %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-file"></span>'.html_safe, results_container_path(container), class: 'btn btn-success btn-sm', role: 'button', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'View Results' if container.completed? %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, container, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm pull-right', role: 'button', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Delete Container' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Container', new_container_path %>
