<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Measurement Scale:</strong>
  <%= @container.measurement_scale_name %>
</p>

<p>
  <strong>Fluid type:</strong>
  <%= @container.fluid_type %>
</p>

<p>
  <strong>Kinematic viscosity:</strong>
  <%= @container.kinematic_viscosity %>
</p>

<p>
  <strong>Density:</strong>
  <%= @container.density %>
</p>

<p>
  <strong>Outlet pressure:</strong>
  <%= @container.outlet_pressure %>
</p>

<p>
  <strong>Inlet vx:</strong>
  <%= @container.inlet_vx %>
</p>

<p>
  <strong>Inlet vy:</strong>
  <%= @container.inlet_vy %>
</p>

<p>
  <strong>Inlet vz:</strong>
  <%= @container.inlet_vz %>
</p>

<p>
  <strong>Inlet File:</strong>
  <%= link_to @container.inlet_file_name, @container.inlet.url if @container.inlet %>
</p>


<p>
  <strong>Outlet File:</strong>
  <%= link_to @container.outlet_file_name, @container.outlet.url if @container.outlet %>
</p>


<p>
  <strong>Walls File:</strong>
  <%= link_to @container.walls_file_name, @container.walls.url if @container.walls %>
</p>

<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span>'.html_safe, containers_path, class: 'btn btn-default', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Back' %>
<%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_container_path(@container), class: 'btn btn-primary', data: { toggle: 'tooltip', placement: 'bottom' }, title: 'Edit' %>
<%= link_to '<span class="glyphicon glyphicon-globe"></span>'.html_safe, stl_container_path(@container), class: 'btn btn-success', data: { toggle: 'tooltip', placement: 'bottom' }, title: '3D Viewer' %>
