<div class="page-header">
    <h2>Showing Container</h2>
</div>

<p>
  <strong>Name:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @container.temperature %>
</p>

<p>
  <strong>Wall:</strong>
  <%= link_to @container.wall.file_filename, attachment_url(@container.wall, :file, prefix: "#{ENV['RAILS_RELATIVE_URL_ROOT']}/attachments") %><br />
  Size: <%= @container.wall.file_size %><br />
  Content Type: <%= @container.wall.file_content_type %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Inlets</strong>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>File</th>
        <th>v<sub>x</sub> (m/s)</th>
        <th>v<sub>y</sub> (m/s)</th>
        <th>v<sub>z</sub> (m/s)</th>
      </tr>
    </thead>
    <tbody>
      <% @container.inlets.each do |inlet| %>
        <tr>
          <td><%= link_to inlet.file_filename, attachment_url(inlet, :file, prefix: "#{ENV['RAILS_RELATIVE_URL_ROOT']}/attachments") %></td>
          <td><%= inlet.vx %></td>
          <td><%= inlet.vy %></td>
          <td><%= inlet.vz %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><!-- /panel -->

<%= link_to 'Back', containers_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_container_path(@container), class: 'btn btn-default' %>
