<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @container.name %>
</p>

<p>
  <strong>Measurement Scale:</strong>
  <%= @container.measurement_scale_name %>
</p>

<p>
  <strong>Fluid type:</strong>
  <%= @container.fluid_type %>
</p>

<p>
  <strong>Kinematic viscosity:</strong>
  <%= @container.kinematic_viscosity %>
</p>

<p>
  <strong>Density:</strong>
  <%= @container.density %>
</p>

<p>
  <strong>Outlet pressure:</strong>
  <%= @container.outlet_pressure %>
</p>

<p>
  <strong>Inlet vx:</strong>
  <%= @container.inlet_vx %>
</p>

<p>
  <strong>Inlet vy:</strong>
  <%= @container.inlet_vy %>
</p>

<p>
  <strong>Inlet vz:</strong>
  <%= @container.inlet_vz %>
</p>

<p>
  <strong>Inlet File:</strong>
  <%= link_to @container.inlet_file_name, @container.inlet.url if @container.inlet %>
</p>


<p>
  <strong>Outlet File:</strong>
  <%= link_to @container.outlet_file_name, @container.outlet.url if @container.outlet %>
</p>


<p>
  <strong>Walls File:</strong>
  <%= link_to @container.walls_file_name, @container.walls.url if @container.walls %>
</p>

<p>
  <%= link_to 'STL Viewer', stl_container_path(@container), class: 'btn btn-success' %>
</p>


<%= link_to 'Edit', edit_container_path(@container), class: 'btn btn-primary' %> |
<%= link_to 'Back', containers_path, class: 'btn btn-default' %>
