<% content_for :head_css do %>
  <%= stylesheet_link_tag "stl", media: "all" %>
<% end %>
  
<% content_for :head_js do %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.min.js" %>
  <%= javascript_include_tag "threejs/TrackballControls" %>
  <%= javascript_include_tag "threejs/STLLoader" %>
  <%= javascript_include_tag "stl" %>
<% end %>

<div id="canvas-container">
    <div id="canvas"></div>
    <div id="canvas-menu"></div>
</div>

<script>
    // create parent stl object
    stl_parent = new ASTL.STLObject( 'walls', '<%= @container.walls.url %>', '#444444' );
    
    // add children objects to parent
    stl_parent.add( 'inlet1', '<%= @container.inlet.url %>', '#ff0000' );
    stl_parent.add( 'outlet1', '<%= @container.outlet.url %>', '#0000ff' );
    
    // load these stl objects in #canvas
    ASTL.startLoading( stl_parent, new THREE.STLLoader() );
</script>
