<% content_for :head_css do %>
  <%= stylesheet_link_tag "stl", media: "all" %>
<% end %>
  
<% content_for :head_js do %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.min.js" %>
  <%= javascript_include_tag "threejs/TrackballControls" %>
  <%= javascript_include_tag "threejs/STLLoader" %>
  <%= javascript_include_tag "stl" %>
<% end %>

<p>
  <div class="astl-viewer" data-type="stl">
    <div class="astl-canvas"></div>
    <ul class="astl-files">
      <li>
        <%= link_to @container.inlet_file_name, @container.inlet.url, data: { :color => '#ff0000' } if @container.inlet %>
      </li>
      <li>
        <%= link_to @container.outlet_file_name, @container.outlet.url, data: { :color => '#0000ff' } if @container.inlet %>
      </li>
      <li>
        <%= link_to @container.walls_file_name, @container.walls.url, :class => 'astl-parent', data: { :color => '#444444' } if @container.inlet %>
      </li>
    </ul>
  </div>
</p>
