<% content_for :head_css do %>
  <%= stylesheet_link_tag "stl", media: "all" %>
<% end %>
  
<% content_for :head_js do %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.min.js" %>
  <%= javascript_include_tag "threejs/TrackballControls" %>
  <%= javascript_include_tag "threejs/STLLoader" %>
  <%= javascript_include_tag "stl" %>
<% end %>

<p>
  <div class="astl-viewer" data-type="stl">
    <div class="astl-canvas"></div>
    <ul class="astl-files">
      <li>
        <%= link_to @container.inlet_file_name, @container.inlet.url, :'data-color' => '#ff0000' if @container.inlet %>
      </li>
      <li>
        <%= link_to @container.outlet_file_name, @container.outlet.url, :'data-color' => '#0000ff' if @container.inlet %>
      </li>
      <li>
        <%= link_to @container.walls_file_name, @container.walls.url, :class => 'astl-parent', :'data-color' => '#444444' if @container.inlet %>
      </li>
    </ul>
  </div>
</p>

<p>
  <div id="canvas-container">
      <div id="canvas"></div>
      <div id="canvas-menu"></div>
  </div>
</p>

<%= link_to 'Back', container_path, class: 'btn btn-default' %>

<script>
    // create parent stl object
    stl_parent = new ASTL.STLObject( 'walls', '<%= @container.walls.url %>', '#444444' );
    
    // add children objects to parent
    stl_parent.add( 'inlet1', '<%= @container.inlet.url %>', '#ff0000' );
    stl_parent.add( 'outlet1', '<%= @container.outlet.url %>', '#0000ff' );
    
    // load these stl objects in #canvas
    ASTL.startLoading( stl_parent, new THREE.STLLoader() );
</script>
